
<span id="Title">
    <h3 (click)="goToHome()" class="clickable-element">Polling Booth</h3>
</span>

<span>
    <div id="AccountAddress">
        @if((accountRole$ | async)!=null && (accountRole$ | async)=="GUEST"){
            <h5><app-pb-button value="Connect to Wallet"/></h5>
        }
        @else {
            <h5>
                {{accountAddress$ | async | addressFormatter}}
                <app-pb-button value="Change Account"/>
            </h5>
            
        }
    </div>
    <div id="AccountRole">
        <h5>{{accountRole$ | async}}</h5>
    </div>
</span>
