#Title {
    /* display: inline-block; */
    float: left;
    /* width: 70%; */
    margin-left: 10px;
    @media (max-width: 500px) {
        float: none;
        align-items: center;
        text-align: center;
        margin: none;
    }
}

#AccountAddress, #AccountRole {
    /* display: inline-block; */
    float: right;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    margin-right: 10px;
    /* width: 20%; */

    @media (max-width: 500px) {
        float: none;
        align-items: center;
        text-align: center;
        margin: none;
    }
}