
<span id="Title">
    <h3 (click)="goToHome()" class="clickable-element">📊 Polling Booth </h3>
</span>
<!-- 🗳️ 📊 -->

<span>
    <div id="AccountAddress">
        @if((accountRole$ | async)!=null && (accountRole$ | async)=="GUEST"){
            <h5><app-pb-button (click)="connectToWallet()" value="👤 Connect to Wallet"/></h5>
        }
        @else {
            <h5>
                {{accountAddress$ | async | addressFormatter}}
                <app-pb-button value="👤 Change Account"/>
            </h5>
        }
    </div>
    <app-pb-button class="mobile-only-menu-btn" value="◁☰"/>
    
    <div id="AccountRole">
        <h5>{{accountRole$ | async}}</h5>
        <label for="networks">Choose a Network:</label>
        <select name="networks" id="networks" (change)="getSelectedNetwork($event)">
            <option value="local">local</option>
            <option value="sepolia" selected>sepolia</option>
        </select>
    </div>
</span>
