.pb-button {
    color: white;
    background-color: black;
    border-color: black;
    border-style: solid;
    
    border-width: 4px;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
}

.pb-button:hover{
    color: black;
    background-color: white;
    border-color: white;
}

.pb-button-disabled, .pb-button-disabled:hover {
    color: white;
    background-color: gray;
    border-color: gray;
    cursor:not-allowed;
}