<div class="basic-card view-card">
    @if(isNewEventTopicInprogress$ | async){
        <!-- Form to fill in details for new topic and submit option -->
        <!-- (ngSubmit)="createAndSubmitNewTopic(newEventTopicForm)" -->
        <form #newEventTopicForm="ngForm">
            <label for="topicName">Topic Name</label><br>
            <input type="text" placeholder="Enter Topic Name" name="topic" ngModel>
            <br>
            <div>
                @for (optionFormElement of tempOptions; track $index) {
                    <br>
                    <label for="option-{{$index}}">Option {{$index+1}}</label><br>
                    <input type="text" placeholder="Enter an Option" name="option-{{$index}}" ngModel>
                }
                <app-pb-button (click)="addAnotherOption()" value="+"/>
                <app-pb-button (click)="removeLastOption()" value="-"/>
            </div>
            <br>

            <br><br>
            <app-pb-button (click)="createAndSubmitNewTopic(newEventTopicForm)" value="Submit"/>
            <app-pb-button (click)="cancelNewTopic()" value="Cancel"/>
        </form>
    }
    <!-- if((selectedEventSummary$ | async)!=null) -->
    @else {
        @if(summary){
            <h1>Topic Name: {{summary.topic}}</h1>
            Voting Active: {{summary.votingActive}}

                @if(summary.options.length>0){
                    <table>
                        <tr>
                            <th>Option Name</th>
                        @if ((accountRole$ | async)=="OWNER"){
                            <th>Votes Acquired</th>
                        }
                        @if(summary.votingActive && (accountRole$ | async)!="GUEST"){
                            <th>
                                Vote!
                            </th>
                        }
                        </tr>
                    @for (option of summary.options; track $index) {
                        <tr>
                            <td>
                                {{option.name}}
                            </td>
                        @if ((accountRole$ | async)=="OWNER"){
                            <td>
                                {{option.voteCount}}
                            </td>
                        }
                        @if(summary.votingActive && (accountRole$ | async)!="GUEST"){
                            <td>
                                <app-pb-button (click)="vote(eventId, $index)" value="Vote"/>
                            </td>
                        }
                        </tr>
                    }
                    </table>
                }
                @else {
                    <h3>No Options available for this Event</h3>
                }
                @if ((accountRole$ | async)=="OWNER"){
                    <app-pb-button 
                        class="end-vote-button" 
                        (click)="endVoting(eventId)"
                        [disabled]=!summary.votingActive
                        value="End Voting"/>
                }
        }
    }
</div>
