.view-card {
    height:80%;
    padding: 20px;
}

.end-vote-button{
    float: right;
    margin-top: 20px;
}

.add-remove-button {
    float: right;
}

.text-box-topic, .text-box-option {
    /* width: calc(66.6vw * 0.8); */
    width: 98.7%;
}

/* .text-box-option {
    width: calc(51vw * 0.8);
    width: 78%;
} */

/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */
table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}