<div class="basic-card view-card">
    @if(isNewEventTopicInprogress$ | async){
    <!-- Form to fill in details for new topic and submit option -->
    <!-- (ngSubmit)="createAndSubmitNewTopic(newEventTopicForm)" -->
    <form #newEventTopicForm="ngForm">
        <h1><label for="topicName">Topic Name</label></h1>
        <input type="text" class="text-box-topic" placeholder="Enter Topic Name" name="topic" ngModel>
        <div>
            @for (optionFormElement of tempOptions; track $index) {
            <div>
                <h3><label for="option-{{$index}}">Option {{$index+1}}</label></h3>
                <input 
                    type="text" 
                    class="text-box-option" 
                    placeholder="Enter an Option" 
                    name="option-{{$index}}"
                    ngModel/>
            </div>
            }
            <br><br>
            <div class="add-remove-button">
                <app-pb-button (click)="addAnotherOption()" value="Add" />
                <app-pb-button (click)="removeLastOption()" value="Remove" />
            </div>

        </div>
        <br>

        <br><br>
        <app-pb-button (click)="createAndSubmitNewTopic(newEventTopicForm)" value="Submit" />
        <app-pb-button (click)="cancelNewTopic()" value="Cancel" />
    </form>
    }
    <!-- if((selectedEventSummary$ | async)!=null) -->
    @else if(summary){
    <h1>Topic Name: {{summary.topic}}</h1>
    Voting Active: {{summary.votingActive}}

    @if(summary.options.length>0){
    <table>
        <tr>
            <th>Option Name</th>
            @if ((accountRole$ | async)=="OWNER"){
            <th>Votes Acquired</th>
            }
            @if(summary.votingActive && (accountRole$ | async)!="GUEST"){
            <th>
                Vote!
            </th>
            }
        </tr>
        @for (option of summary.options; track $index) {
        <tr>
            <td>
                {{option.name}}
            </td>
            @if ((accountRole$ | async)=="OWNER"){
            <td>
                {{option.voteCount}}
            </td>
            }
            @if(summary.votingActive && (accountRole$ | async)!="GUEST"){
            <td>
                <app-pb-button (click)="vote(eventId, $index)" value="Vote" />
            </td>
            }
        </tr>
        }
    </table>
    }
    @else {
    <h3>No Options available for this Event</h3>
    }
    @if ((accountRole$ | async)=="OWNER"){
    <app-pb-button class="end-vote-button" (click)="endVoting(eventId)" [disabled]=!summary.votingActive
        value="End Voting" />
    }
<br><br>
    }

    @else {
        <h1>Welcome to Polling Booth</h1>
        <hr>
        <h3>Why this project is created ?</h3>
        <p>It is to demonstrate the use of Blockchain to track voting or polling on topics by users.</p>

        <h3>Development</h3>
        <p>
           It is designed to work with a contract deployed on sepolia testnet. 
           But, if we clone/download the repo we can change the contract and 
           endpoint address to point it to your local blockchain or any other blockchain.
           <br> The Blockchain contract required to work with this dapp is 
           at: 
           <a href="https://github.com/vukkumsp/polling-booth-smart-contract">
            https://github.com/vukkumsp/polling-booth-smart-contract
           </a>
        </p>

        <h3>Distribution</h3>
        <p>
            It is available at: 
            <a href="https://vukkumsp.github.io/polling-booth">
                https://vukkumsp.github.io/polling-booth
            </a>
        </p>

        <h3>How to use the App ?</h3>
        <p>
            <b>OWNER:</b>   As of now, only the owner of the contract can create or End Voting Events and everyone else can only vote for the same. To become Owner, you need to deploy the polling-booth-smart-contract onto your prefered blockchain network and point this app to that network. Then the account used to deploy the polling-booth-smart-contract becomes the Owner. 
            <br><br>
            <b>USER:</b>    All non owner accounts on network are treated as role User. They can vote on active voting events created by Owner. 
            <br><br>
            <b>GUEST: </b>  Any non connected to wallet scenarios are treated as role Guest, they can only view the details of polling-booth but can't do any write transactions.
        </p>
    }
</div>