app-desktop, app-mobile {
    display: block;
    /* height: 70%; */
}

.footer{
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

.left-footer{
    float: left;
    padding-bottom: 5px;
}
.right-footer{
    float: right;
    padding-bottom: 5px;
}

.linked-logo, .github-logo{
    height: 10px;
    padding: 1px;
}